.ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #676f75
}

.li {
    float: right;
}

.li:hover {
    border-bottom: 1px solid white;
}
.item:last-child {
    border-right: none;
}

.link {
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}
