.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 40px;
}

.empty {
    background-color: #D7DCDF;
}

.containerText {
    background-color: whitesmoke;
    padding: 20px;
}